h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color:#FFFFFF
}

body {
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color:#42D3FF
}